<!doctype html>
<html>
<head>
    <!-- this would be in some sitewide header: third-party CSS/JS libs -->

    <!-- jQuery and Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Titillium Web" rel="stylesheet" />

    <!-- local and sitewide awesomesauce bundled together -->
    <script type="text/javascript" src="../../static/pages2and4/page4.js?Fri Jul 14 2017 09:59:43 GMT-0700 (Pacific Daylight Time)"></script>
    <link rel="stylesheet" type="text/css" href="../../static/pages2and4/page4.css?Fri Jul 14 2017 09:59:43 GMT-0700 (Pacific Daylight Time)" />

    <title>Page Four</title>
</head>
<body>

<div class="container" ng-app="mainApp" ng-controller="mainCtrl">
    <h1>Esta es pagina cuarto</h1>
    <input type="text" ng-model="words" placeholder="make words here" />
</div>

</body>
</html>